<main id="events-main" class="py-3 text-center">
    <h2 class="text-uppercase fw-700 mb-3 fs-1">Upcoming events</h2>
    <section class="d-flex flex-column align-items-center">
        {{#each events}}
            <div class="text-white rounded mb-3">
                <a href="events/tour/{{this.tour_id}}" class="py-3 px-4 rounded">
                    <p class="text-uppercase text-white mb-1 fw-450 fst-italic">
                        <span>{{this.artist_name}}</span>
                        -
                        <span class="fst-italic">{{this.tour_name}}</span>
                    </p>
                    <p class="mb-0 mt-1 fw-300">
                        {{#if (compareValues (formatDate this.firstDate.date 'yyyy') '==' (formatDate this.lastDate.date 'yyyy'))}}
                            {{formatDate this.firstDate.date "do LLLL"}}
                        {{else}}
                            {{formatDate this.firstDate.date "do LLLL yyy"}}
                        {{/if}}

                        to {{formatDate this.lastDate.date "do LLLL yyyy"}}

                    </p>
                </a>
            </div>
        {{/each}}
    </section>
</main>
