{{#section 'head'}}
    <title>{{event.artist_name}} | {{event.tour_name}} | {{title}}</title>
{{/section}}

<h2>{{event.artist_name}} - {{event.tour_name}}</h2>
<p class="comment">event info goes here - probably need to store in database</p>

{{#if onsale}}
    <p>
        Tickets for this event are on sale now!
        <button id="purchase" class="btn btn-primary" onclick="purchaseClick({{isAuth req}}, {{event.tour_id}})">Find tickets</button>
    </p>

    <div id="change-city-modal" class="modal d-none flex-column">
        {{> city-cards}}
    </div>

{{else}}
    <p>Tickets will be released at the below times - sign up to be notified and buy tickets at a time that suits you!</p>

    {{! Open a grid layout for not onsale only}}
    {{!-- <div class="container-fluid row">
        <main class="col-6"> --}}
    <p class="comment">Need to do href for "button" links for sign up and purchase</p>
    {{!-- <div class="d-flex flex-wrap">
        {{#each slots}}
            {{#if (isAuth @root.req)}}
                {{log (arrayIncludes ../userSignedUpSlots this.slot_id)}}
            {{/if}}
            {{!-- {{log (arrayIncludes ../userSignedUpSlots this.slot_id)}} -
            <div class="mx-auto text-center">
                <h4 class="mb-0">
                    {{#if (isThisYear this.start)}}
                        {{formatDate this.start "EEEE do LLLL"}}
                    {{else}}
                        {{formatDate this.start "EEEE do LLLL yyyy"}}
                    {{/if}}
                </h4>
                {{#if (isFuture this.start)}}
                    <p class="fs-4 fw-500 mb-0">
                        <span class="text-uppercase text-muted small">Start</span> {{formatDate this.start "HH:mm"}}
                        <span class="text-uppercase text-muted small">End</span> {{formatDate this.end "HH:mm"}}
                    </p>
                {{!-- {{else}}
                    {{#if (isFuture this.end)}}
                        <p class="fs-4 fw-500 mb-0 ms-2 text-uppercase ">
                            Now 
                            <span class="text-muted small">until</span>
                            {{formatDate this.end "HH:mm"}}
                        </p>
                        {{!-- will check on purchase page if user has signed up --}}
                        {{!-- maybe like an intermediate page or post to check sign up and either direct to queue or sorry page --}}
                        {{!-- {{#if (signedUpForSlot user_id, slot_id)}} --}}
                        {{!-- <a href="" class="btn btn-secondary btn-block mt-1">Purchase</a> --}}
                        {{!-- {{else}}
                        <p class="mt-1 mb-0">You are not registered to buy in this slot</p>
                        {{/if}} --
                    {{else}}
                        <p>Slot has ended</p>
                        {{!-- <button disabled="disabled">Purchase</button> --}}
                    {{/if}} --}
                {{/if}}

                {{#if (isPast this.end)}} {{!slot ended}}
                    <p>Slot has ended</p>
                {{else if (isAuth @root.req)}} {{!logged in}}
                    {{#if (arrayIncludes @root.userSignedUpSlots this.slot_id)}} {{!user has signed up}}
                        {{#if (isFuture this.start)}}
                            <p>Deregister</p>
                        {{else}}
                            <p>Purchase</p>
                        {{/if}}
                    {{else if (compareValues @root.userSignedUpSlots.length '>' 0)}}
                        <p>signed up for different slot</p>
                    {{else}}
                        <p>Sign up</p>
                    {{/if}}
                {{/if}}

                {{!-- {{#if (isAuth req)}}
                    {{#if arrayIncludes}} --}
            </div>
        {{/each}}

    </div> --}}
{{/if}}

<h3 class="mt-2">Dates & Venues</h3>
<p>Info goes here</p>
<p class="comment">If tour is on sale there should be links direct to purchase tickets maybe? Or find tickets button shows city cards? Idk but something</p>
<table class="m-auto">
    {{#each dates}}
        {{!-- <div class="row"> --}}
            <tr {{#if ../onsale}}onclick="purchaseClick({{isAuth ../req}}, {{../event.tour_id}}, {{this.venue_id}})"{{/if}}>
                
                    <td class="text-end pe-2" style="vertical-align: top">{{formatDate this.date 'EEE do LLL'}}</td>
                    <td class="ps-1 pb-2">{{this.city}}<br>{{this.venue_name}}</td>
            </tr>
            
        {{!-- </div> --}}
    {{/each}}
</table>

{{!-- <p class="comment">Actually fuck that maybe the city cards should be here</p> --}}

{{!-- {{#unless onsale}} {{! continue the grid layout opened before}}

    </main> {{! close the main opened in first if block}}

    <aside class="col-6">
        {{#each slots}}
            <div class="m-auto col-6 text-center">
                {{#if (isFuture this.start)}}
                    <h3>
                        {{#if (isThisYear this.start)}}
                            {{formatDate this.start "EEEE do LLLL"}}
                        {{else}}
                            {{formatDate this.start "EEEE do LLLL yyyy"}}
                        {{/if}}
                        <p class="fs-4">
                            <span class="text-uppercase text-muted small">Start</span> {{formatDate this.start "HH:mm"}}
                            <span class="text-uppercase text-muted small">End</span> {{formatDate this.end "HH:mm"}}
                        </p>
                    </h3>
                    <button class="btn btn-secondary btn-block">Sign Up</button>
                {{else}}
                    {{#if (isFuture this.end)}}
                        <p>Slot happening now</p>
                        <button>Purchase</button>
                    {{else}}
                        <p>Slot has ended</p>
                        <button disabled="disabled">Purchase</button>
                    {{/if}}
                {{/if}}
            </div>
        {{/each}}
    </aside>
</div>
{{/unless}} --}}

{{!-- Should put scripts in a section but didn't work... figure out later --}}
<script src="/js/tour-{{#unless onsale}}not-{{/unless}}onsale.js"></script>
