{{#each cardContext.venues}}
    <div 
        class="city-card card mx-auto my-2 bg-black text-white" 
        data-tour-id="{{../cardContext.event.tour_id}}"
        data-venue-id="{{this.venue_id}}"    >
        <main>
            <h3>{{this.city}}, {{this.venue}}</h3>
            <ul style="list-style-type: none;">
                {{#each (groupDates (venueDatesToDatesArray this.dates))}}
                    <li>
                        {{#each this}}
                            {{formatDate this 'do'}}{{#unless @last}},{{/unless}}
                        {{/each}}
                        {{formatDate this.[0] 'LLLL'}}
                    </li>
                {{/each}}
            </ul>
        </main>

        <aside class="justify-content-end d-flex">
            <img src="/images/venues/venue layout/{{this.image_name}}" alt="Seat map unavailable." class="col-4">
        </aside>
    </div>
{{/each}}