<h1>{{tour.artist_name}} - {{tour.tour_name}}</h1>
<h2>{{venue.city}}, {{venue.venue_name}} <button id="change-city-btn" class="btn btn-primary">Change</button></h2>

<form method="get" id="filters" class="d-flex flex-column align-items-center">
    <div>
        {{#each venueDates}}
            <div class=" form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="date-check-{{this.date_id}}" name="date" value="{{this.date_id}}">
                <label for="date-check-{{this.date_id}}">
                    {{formatDate this.date 'E do LLLL'}}
                </label>
            </div>
        {{/each}}
    </div>

    <h3 style="display: inline-block">Tickets</h3>
    <div class="d-flex">
        <button type="button" id="decrease-tickets" class="btn btn-outline-primary">-</button>
        <input type="number" name="qty" value="2" hidden>
        <span id="qty-span" class="card text-center justify-content-center" style="width: 50px"></span>
        <button type="button" id="increase-tickets" class="btn btn-outline-primary">+</button>
    </div>
</form>

<form id="purchase-form" action="/events/create-checkout-session" method="POST">
    <input name="product-ids" hidden value="">
    <button id="purchase" class="btn btn-primary m-auto">
        Purchase
    </button>
</form>


{{!-- #each availableRows or smth --}}

<div class="card available-ticket-card container p-3">
    <div class="row mb-1">
        <button class="col-1 btn btn-outline-secondary p-0 ml-3 mw-80">Details</button>
        <h3 class="col-8 mb-0">Section X Row X</h3>
        <p class="col-3 text-end mb-0 align-self-center">Total Price</p>
    </div>
    <div class="row mt-1">
        <p class="col-7 mb-0">date, date, date, date</p>
        <p class="col-5 mb-0 text-end">price info</p>
    </div>
</div>


<div id="change-city-popup">
    {{> city-cards}}
</div>

<script src="/purchase-page.js"></script>