<main id="index-main" class="d-flex flex-column flex-grow-1 justify-content-center">
    <h1 class="text-center py-1 my-0 text-uppercase fw-700">
        {{#if (isAuth req)}}<span class="small d-block">Hi {{req.user.first_name}}</span>{{/if}}
        Welcome to tickety boo!</h1>
    <section id="upcoming-events" class="text-center pt-3 pb-4">
        <h2 class="text-uppercase fw-800 mb-3 fs-1">Upcoming Events</h2>
        <div class="d-flex flex-wrap justify-content-center" style="gap: 12px">
            {{#each events}}
                <div class="card hover-scale event-card">
                    <img class="card-img-top" src="/images/tour-backgrounds/{{this.image_name}}" alt="">
                    <p class="fs-6 card-title px-3 mt-2 mb-1 text-uppercase fst-italic fw-500">{{this.artist_name}}</p>
                    <a href="events/tour/{{this.tour_id}}" class="stretched-link px-3 fw-400 text-uppercase">{{this.tour_name}}</a>
                    <p class="d-block mb-0 mt-1 px-3 pb-2 fw-300">
                        {{#if (isSameYear this.firstDate.date this.lastDate.date)}}
                            {{formatDate this.firstDate.date "do LLLL"}}
                        {{else}}
                            {{formatDate this.firstDate.date "do LLLL yyyy"}}
                        {{/if}}

                        to {{formatDate this.lastDate.date "do LLL yyyy"}}</p>
                    <p class="fw-300 px-3 mb-3 text-uppercase small">
                        {{#if (isFuture this.salesStart)}}
                            Sales start {{formatDate this.salesStart "HH:mm EEE do LLL"}}
                        {{else}}
                            On sale now
                        {{/if}}
                    </p>
                    {{!-- <p class="fw-bold">On sale now<br>Sales start dd-mm-yy <span class="comment fw-normal">get on sale times from database and make this conditional</span></p> --}}
                </div>
            {{/each}}
        </div>
    </section>

    {{!-- <section class="text-center my-3">
        <h2>How it works</h2>
    </section> --}}
</main>

