{{#each availableTickets}}
    <div class="card available-ticket-card container p-3" data-index="{{@index}}">
        <div class="row mb-1">
            <button class="col-1 btn btn-outline-secondary p-0 ml-3 mw-80">Details</button>
            <h3 class="col-8 mb-0">Block {{this.block}}, Section {{this.section}}, Row {{this.row}}</h3>
            <p class="col-3 text-end mb-0 align-self-center">{{this.price.total}}</p>
        </div>
        <div class="row mt-1">
            <p class="col-7 mb-0">
                Available: 
                {{#each this.dates}}
                    {{this.shortDate}}{{#unless @last}}, {{/unless}} {{! date formatting done at API}}
                {{/each}}
            </p>
            <p class="col-5 mb-0 text-end">{{this.qty}} tickets at {{this.price.each}} each</p>
        </div>
    </div>
{{/each}}