<h2>{{artist}} - {{tour}}</h2>

<p>Sales will begin on: {{event.sale-times.0.date}}</p>

<aside>
    {{#if isOnsale}}
        <a href="{{originalUrl}}/purchase" class="btn btn-primary" role="button">Find tickets</a>
    {{else}}
        <h3>Sign up to purchase</h3>
        {{#each event.sale-times}}
            <p>{{this.date}}</p>
        {{/each}}
    {{/if}}
</aside>

<main>
    <ul>
        {{#each cities}}
            <li>{{this.city}} 
                <span>
                    {{#each this.city.dates}}
                </span>
            </li>
        {{/each}}
    </ul>
</main>

