<h1>{{city}}{{artist}}: {{tourName}}</h1>
{{#each cities}}
    <div class="card" id="card-{{this.city}}" onclick="cardClicked('{{this.city}}')">
        <h2>{{this.city}} - {{this.venue}}</h2>
        <p>{{this.dates.length}} dates:
            {{#each this.dates}}
                {{formatDate this}}{{#unless @last}}, {{/unless}}
            {{/each}}
        </p>
        <p>£{{this.lowestPriceAvailable}} - £{{this.highestPriceAvailable}}</p>
        <h3>Availability:</h3>
        <ul>
            {{#each this.sections}}
                <li class="availability availability-{{this.availability}}">Section {{this.name}}: {{this.availability}}</li>
            {{/each}}
        </ul>
    </div>
{{/each}}