<h1>{{ artist }}</h1>
<h2>{{ tour }}</h2>
<p>This tour is {{#unless onSale}}<b>not</b>{{/unless}} on sale</p>
{{#each cities}}
    <div class="card" id="card-{{this.city}}" data-city="{{this.city}}">
        <a href="{{../originalUrl}}/{{toLowerCase this.city}}">
            <h2>{{this.city}} - {{this.venue}}</h2>
            <p>{{this.dates.length}} dates:
                {{#each this.dates}}
                    {{this}}{{#unless @last}}, {{/unless}}
                {{/each}}
            </p>
            <p>£{{this.lowestPriceAvailable}} - £{{this.highestPriceAvailable}}</p>
            <h3>Availability:</h3>
            <ul>
                {{#each this.sections}}
                    <li class="availability availability-{{this.availability}}">Section {{this.name}}: {{this.availability}}</li>
                {{/each}}
            </ul>
        </a>
    </div>
{{/each}}

<script>
    $(document).ready(function(){
        // console.log("{{artist}}")
        // $(".card").click( function() { onClickFun($(this)) } )
    })

    function onClickFun(obj) {
        console.log(obj.attr("data-city"))
    }

</script>