{{#if isAuth}}<h1>Hi {{user.name}}!</h1>{{/if}}

<h2>Upcoming events</h2>
<p class="note-to-self">maybe have some filters for date and city</p>
<p class="note-to-self">these could be buttons e.g. today, tomorrow, this weekend, this month, etc...</p>
{{!-- <p class="note-to-self">see what crowdstrike has in their lil dropdowns</p> --}}
<ul>
{{#each events}}
    <li>
        <a href="events/tour/{{this.tour_id}}">
            {{this.artist_name}} - {{this.tour_name}}
        </a>
        <span class="d-block">
            {{#if (compareValues (formatDate this.firstDate.date 'yyyy') '==' (formatDate this.lastDate.date 'yyyy'))}}
                {{formatDate this.firstDate.date "do LLL"}}
            {{else}}
                {{formatDate this.firstDate.date "do LLL yyy"}}
            {{/if}}

            to {{formatDate this.lastDate.date "do LLL yyyy"}}

        </span>
    </li>
{{/each}}
</ul>