<h1>{{tour.artist_name}} - {{tour.tour_name}}</h1>
<h2>{{venue.city}}, {{venue.venue_name}} <button id="change-city-btn" class="btn btn-primary">Change</button></h2>

{{log @root}}

<form method="get" id="filters" class="d-flex flex-column align-items-center">
    <div>
        {{#each venueDates}}
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="date-check-{{this.date_id}}" name="date" value="{{this.date_id}}">
                <label for="date-check-{{this.date_id}}">
                    {{formatDate this.date 'E do LLLL'}}
                </label>
            </div>
        {{/each}}
    </div>

    

    <h3 style="display: inline-block">Tickets</h3>
    <div class="d-flex">
        <button type="button" id="decrease-tickets" class="btn btn-outline-primary">-</button>
        <input type="number" name="qty" value="2" hidden>
        <span id="qty-span" class="card text-center justify-content-center" style="width: 50px"></span>
        <div>
            <button type="button" id="increase-tickets" class="btn btn-outline-primary">+</button>
            <p class="opacity-0">Maximum ticket quantity reached</p>
        </div>
        {{!-- <p class="comment">Want to add a lil tooltip when this button is disabled that says max tickets reached or smth</p> --}}
</button>
    </div>
</form>

{{!-- <form id="purchase-form" action="/events/create-checkout-session" method="POST" class="text-center">
    <input name="product-ids" hidden value="">
    <button id="purchase" class="btn btn-primary m-auto">
        Purchase
    </button>
</form> --}}

<div id="available-tickets"></div>

<div id="change-city-modal" class="modal flex-column">
    {{> city-cards}}
</div>

<div id="select-seats-modal" class="modal"></div>

<script src="/js/fetchData.js"></script>
<script type="module" src="/js/purchase-page.js"></script> <!--https://stackoverflow.com/a/55310399-->