<h2>{{event.artist_name}} - {{event.tour_name}}</h2>

{{> city-cards}}

<script>
    $(document).ready(() => {
        $(".city-card").click(function () {
            window.location.href = `/events/purchase/tour/${$(this).attr("data-venue-id")}/queue?venue=${$(this).attr("data-venue-id")}`
        })
    })
</script>

{{!-- {{#each datesByVenue}}
<div 
    class="city-card card" 
    data-venue-id="{{this.venue_id}}"
    onclick="location.href='/events/purchase/tour/{{../event.tour_id}}/queue?venue={{this.venue_id}}'"
>
    <main>
        <h3>{{this.venue}}</h3>
        <ul>
            {{#each (groupDates (venueDatesToDatesArray this.dates))}}
                <li>
                    {{#each this}}
                        {{formatDate this 'do'}}{{#unless @last}},{{/unless}}
                    {{/each}}
                    {{formatDate this.[0] 'LLLL'}}
                </li>
            {{/each}}
        </ul>
    </main>

    <aside>
        <img src="" alt="Seat map showing current availability">
    </div>
</div>
{{/each}} --}}
